/* You can add global styles to this file, and also import other style files */
html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

mat-form-field {
    margin-right: 12px;
  }

